.navbar {
  height: var(--header-height);
  min-height: var(--header-height);
  padding-top: 0;
  padding-bottom: 0;

  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.title {
  font-weight: bold;
  font-family: "Cinzel Decorative", cursive;
}

// Ajustement du body pour compenser le header fixe si nécessaire
body {
  padding-top: var(--header-height);
}

// TODO: kwi check styles
